.derivative{
    background: url("wedding_invitation.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 450px;
    height: 600px;
    border: none;
    margin-top: 10px;
    background-color: #ffffff;
}
body{
    background-color: #ffeef3;
    font-family: 'Oxygen', sans-serif;
}
.ust_text{
    margin-top: 41px;
    font-size: 14px;
    color: #2b2b2b;
}
.isimler{
    font-family: 'Dancing Script', cursive !important;
    line-height: 42px;
    font-size: 78px;
    margin-top: 87px;
}
.isimve{
    margin-right: -73px;
    font-size: 42px;
}
.kina{
    font-family: 'Dancing Script', cursive !important;
    transform: rotate(270deg);
    font-size: 25px;
    border-bottom: 1px solid #e0dcda;
    margin-top: 21px;
}
.gun{
    font-size: 51px;
    margin-right: 9px;
    margin-left: 9px;
}
.zaman{
    font-size: 11px;
    text-align: left;
    margin-top: 16px;
}