.invite-card{
    background: url("wedding_invitation.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 450px;
    height: 600px;
    border: none;
    margin-top: 10px;
    background-color: #ffffff;
}
body{
    background-color: #ffeef3;
    font-family: 'Oxygen', sans-serif;
}